*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  margin-block: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light-mode {
  background-color: #ffffff;
  color: #333;
  width: 100vw;
  height: 100vh;
}

.dark-mode {
  background-color: #333;
  color: #fff;
  width: 100vw;
  height: 100vh;
}


.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.switch label {
  margin-right: 10px;
  font-size: 1rem;
}

