body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
  background-color: #f8f9fa;
}

.dark-mode {
  background-color: #333;
  color: #fff;
  height: 100vh;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.switch label {
  margin-right: 10px;
  font-size: 1rem;
}

.h404 {
   font-size: 4rem;
  color: #007bff;
}